<footer class="page-footer black">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">PROFIT+</h5>
            <h6 class="white-text">Inovação e Inteligência para o seu negócio</h6>
            <p class="grey-text text-lighten-4"> Somos uma empresa especializada no processo de PRICING, atuando no mercado com um conceito inovador e entregando uma solução completa de serviços e tecnologia para melhorar: Competitividade, Receitas e Rentabilidade de seus clientes.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">SAIBA MAIS</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Pricing de Varejo</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Os sete passos do Pricing</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Nossos Parceiros</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instituto de Pesquisa de Pricing</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright Profit+
        <a class="grey-text text-lighten-4 right" href="www.profitmais.com.br">www.profitmais.com.br</a>
        </div>
    </div>
</footer>  