<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
    
</head>
<body>
    <header>
        <%- include('../partials/header_demo_nav'); -%>
    </header>
    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <button onclick="hello()">Click me</button>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer_demo'); -%>
    </footer>
    
</body>
</html>